:root {
  --bg-color: rgb(26, 26, 26);
  --font: Helvetica, sans-serif;
  /* welcome to 2026 */
}

body {
  text-align: center;
  font-family: var(--font);
  color: white;
  margin: 5vh 0;
  background-color: var(--bg-color);
}

i {
  color: darkgrey;
}

.canvas-container {
  display: flex;
  justify-content: center;
}

canvas {
  background-color: white;
}

.links {
  margin: 5vh 10vh;
  display: flex;
  justify-content: space-evenly;
}

a {
  font-family: var(--font);
}
