:root {
  --font: Helvetica, sans-serif;
  --font-color: white;
  --bg-color: rgb(26, 26, 26);
  /* welcome to 2026 */
}

body {
  text-align: center;
  font-family: var(--font);
  color: var(--font-color);
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 1.8em;
}

p {
  font-size: 1.5em;
}

h2 {
  color: red;
}

i {
  color: darkgrey;
}

.canvas-container {
  display: flex;
  justify-content: center;
}

canvas {
  margin: 5vh 0;
  background-color: white;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

option {
  color: white;
  background-color: darkblue;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
}

.socials {
  color: white;
  background-color: black;
  padding: 10px;
}

button:hover {
  filter: brightness(150%);
}

.buttons {
  margin: 5vh 10vh;
  display: flex;
  justify-content: space-evenly;
}

a {
  color: blue;
  font-family: var(--font);
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
